
.panel{
 
}
#news{
  font-size: 20px;
  color: orange;
}
.tabPanStyle{
  color: orange;
}

.news{
  margin: 30px auto;
  position: relative;
  z-index: 3;
}
.news-left{
  position: absolute;
  width: 600px;
  float:left;
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 330px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide img{
  display: block;
  width: 100%;
  height: 330px;
  margin: 0 auto;
}

.news-right{
  width: 520px;
  background-color: rgb(45,44,52);
  color: white;
  vertical-align: top;
  height: 330px;
  display: inline;
  float:right;
}

.tab-news{
  text-align: left;
  background-color: rgb(72, 70, 84);
  color: white;
}

.news-card{
  width: 520px;
  height: 330px;
  text-align: left;
  background-color: rgb(45,44,52);
}
