.panel {
  	background: #888;
  	font-size: 1px;
  	color: #fff;
    border: none;
}



.bodyStruc{
	background: #666;
	font-size: 14px;
  border: none;
}

#newsList {
	margin:-22px;
  border-top: 10px black;
  border: 1px black;
  padding: none;
}


#newsItem{
  margin:0px;
  padding: 10px 10px 10px 0;
  border-bottom: 1px dashed #ccc;
  display: flex;
  justify-content:left;
  align-self: stretch;
}

#newsItem::before{
  content: '▲';
  display: inline-block;
  float: left;
  color: #888;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg);  /* IE 9 */
  -moz-transform:rotate(90deg);   /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  -o-transform:rotate(90deg);   /* Opera */
}


.link{
	display: flex;
	justify-content:  left;
	color:#fff;
    width: 80%;
}
.link:hover{
	color:orange;
	font-size: 16px;
}

.time{
  color: #eee;
  float: right;
  width: 20%;

}
.time:hover{
	color:orange;
}
