.footer{
	padding-top: 20px;
	background-image: url('./footer-background-city.jpg');
	background-size: 100%;
	background-position: top center;
	font-size:16px;
	vertical-align:bottom;
	text-align:center;
}
.copyright{
	color:#ffffff; font-size:16px; padding:20px;
}