.header{
	display: block;
	width: 100%;
    padding: 0 0 12px 0;
}
img {
text-align: center;
width: 450px;
height: 150px;
}
.alignleft {
 display: inline;
 float: left;
}
.alignright {
 display: inline;
 float: right;
}
.aligncenter{
	display: block;
	clear:both ;
	margin: auto;
}