.App {
  font-family: "Microsoft YaHei";

}
.NavBarTest{
  z-index: 1;
}

body {
  padding: 20px;
  margin: 0;
}

h1, h2,h3,h4,h5, p, ul, li,{
  ;
}

logo{
  width:80%;
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: red;
}



.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
/* content page */

.content {
  margin-top: 35px;
  min-height: 700px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  color: #0099FF;
}

/* Homepage starts: */
/* carousel*/

.ant-carousel .slick-slide {
  text-align: center;
  height: 330px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 0px;
}

.ant-carousel .slick-slide img{
  display: block;
  width: 100%;
  height: 330px;
  margin: 0 auto;
}

/* NewsBlock*/
.news-block{
  background: #919191;
  font-size: 14px;
  border: none;
  height:295px;
}

#editLink{
  color: #fff;
  font-size: 14px;
  ;
  padding-left: 20px;
  padding-right: 20px;
}
#editLink:hover{
  color: orange;
}
/* NewsBlock.js starts */
#newsList {
  margin:-22px;
  border-top: 10px black;
  border: 1px black;
  padding: none;
}


#newsItem{
  margin:0px;
  padding: 10px 10px 10px 0px;
  border-bottom: 1px dashed #ccc;
  ;
  display: flex;
  justify-content:left;
  align-self: stretch;
}

#newsItem::before{
  content: '▲';
  display: inline-block;
  float: left;
  color: #888;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg);  /* IE 9 */
  -moz-transform:rotate(90deg);   /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  -o-transform:rotate(90deg);   /* Opera */
}


.link{
  display: flex;
  margin-left: 10px;
  justify-content:  left;
  color:#fff;
  ;
    width: 70%;
    overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.link:hover{
  color:orange;
  font-size: 16px;
}

.time{
  color: #eee;
  float: right;
  ;
  width: 20%;

}
.time:hover{

}

input {
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input.error {
  border-color: red;
}

textarea{
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

 button {
  display: block;
  width: 100%;
  appearance: none;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  border: none;
  font-size: 16px;
  height: 40px;
  margin-top: 30px;
}

 button:hover {
  background-color: #333;
}

button:disabled {
  background-color: black;
  color: #333;
}

button.small {
 display: inline-block;
 width: auto;
 padding: 0 20px;
 margin: 20px;
 background-color: #777;
 font-size: 14px;
}

button.small:hover {
  background-color: #999;
}

.characterlist {
  display: flex;
  direction: row;
  align-items: center;
}

.characterlist button {
  margin: 0;
  margin-top: 10px;
}

#addButton{
  appearance: none;
  color: #eee;
  border: none;
  font-size: 16px;
  height: 35px;
  margin-top: 0px;
}

.tableHead{
  text-align: center;
  margin: 0;
  font-size: 18px;

}
.uploadPanel{
  padding: 0, 20px;
  margin-top: 30px;
  border-top:  1px dashed #ddd;
  text-align: center
}
.uploadPanel h3{
  margin-top: 10px;
}
.uploadPanel h4{
  margin-bottom: 10px;
}

.imgUpload{
  width: 70%;
  margin: 10px;
  padding-right: 20px;
}
.imgUploadButton{
  width: 30%;
  margin: 10px;
  padding-right: 20px;
  text-align: center;
}

.shortText{
  width: 8%;
  font-size: 16px;
  margin-left:10px;

  padding-right: 20px;
}
.longText{
  width: 50%;
  font-size: 16px;
  margin-left: 10px;
  padding-right: 20px;
}
.clueImg{
  width: 35%;
  font-size: 16px;
  margin-left: 10px;
  padding-right: 20px;
}
.clueDelete{
  width: 7%;
}
.tableText{
  font-size: 16px;
  margin-top: 20px;
  text-align: left;
}
#deleteButton{
  height: 30px;
  text-align: center;
}

/* Game Block starts*/
#createButton{
  height: 35px;
  margin: auto;
  text-align: center;

}

.tabBar{
        color:#FFF;
        font-size: 16px;
        background-color: #111;
        margin-top:10px;
        margin-bottom:0px;
        border: none;
        ;
}


#gameList {

  font-size: 18px;
  border-color: #919191;
}


#games{
  margin:0px;
  padding: 10px 10px 10px 0;
  border-bottom: 1px dashed #ccc;
    display: flex;
    justify-content:left;
    align-self: stretch;
}

#games::before{
  content: '▲';
  display: inline-block;
  float: left;
  color: #888;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg);  /* IE 9 */
  -moz-transform:rotate(90deg);   /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
  -o-transform:rotate(90deg);   /* Opera */
}


.gamelink{
  display: flex;
  justify-content:  left;
  color: #eee;
  width: 20%;
  margin-left: 10px;
}
.gamelink:hover{
  color:orange;
  font-size: 16px;
}

.gamediscription{
  color: #eee;
  float: right;
  width: 70%;
  overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;

}

/* Game Block ends*/

.gameDescription{
  overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
}

.gameDescriptionMore{
  overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 5;
}

.gameImg{
  max-height: 600px;
  max-width: 400px;
}
/* footer starts*/
.footer{
  padding-top: 10px;
  background-color: gray;
  background-size: 100%;
  background-position: top center;
  font-size:14px;
  vertical-align:bottom;
  text-align:center;
   left:0px;
   bottom:0px;
   width:100%;
}

/* footer ends*/

/* login register*/
.buttonAlignCenter{
  margin:0 auto;
  display: flex;
  justify-content:center;
  align-self: stretch;
}

/* contact page starts */
.wechatCode{
  margin-top:10px;
  width: 215px;
  height: 215px;
  vertical-align: bottom;
  text-align: center;
}

.ontactInput{
  width: 460px;
}
/* contact page ends */

/* posts page starts */
.postsAlignCenter{
  align-self: stretch;
  display: flex;
  justify-content:center;
}
/* posts page ends */

/* postsDetail page starts */
.postsDetailt{
  font-size: 16px;
  color:#000;
  text-align: center;
  width:100%;
}

.postImg{
  width: 500px;
}
/* posts page ends */

.loginButton{
  margin: 15;
  background-color:black;
  color: #FFF;
  width: 4%;
}

.shortInput{
  font-weight: bold;
  width: 25%;
  font-size: 18px;
}


.btn-group{
  border: 1px dashed green;
  padding:10px;
  right:0;
  bottom:30%;
  position: fixed;
  margin-left: 0px;
}

.btn-group button {

    display: block; /* Make the buttons appear below each other */
    margin:10px;
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #999;
}


.btopImg{
  width:50px;
}
