body {
  
  padding: 20px;
  margin: 0;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  font-size: 18px;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
a :link {
  color: #607D8B;
}
a :hover {
  color: #039be5;
  background-color: #CFD8DC;
}

.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  color: #0099FF;
}

form input {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

form input.error {
  border-color: red;
}

form button {
  display: block;
  width: 100%;
  appearance: none;
  border-radius: 5px;
  background-color: #84c00c;
  color: #fff;
  border: none;
  font-size: 16px;
  height: 40px;
  margin-top: 30px;
}

form button:hover {
  background-color: #669509;
}

form button:disabled {
  background-color: #dbf99f;
  color: #333;
}

form button.small {
  display: inline-block;
  width: auto;
  padding: 0 20px;
  background-color: #777;
  font-size: 14px;
}

form button.small:hover {
  background-color: #999;
}

.characterlist {
  display: flex;
  direction: row;
  align-items: center;
}

.characterlist button {
  margin: 0;
  margin-left: 10px;
}

